.color {
    background-color: #C7D5D6;
}
a {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

header{
	grid-area: header;
    background-color: #C7D5D6;
}

.flex{
	display: flex;
}

.flex-justify{
	justify-content: flex-end;
}
.flex-center{
	justify-content: center;
}
.flex-around{
	justify-content: space-around;
}

li{
    list-style-type: none;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 20px;
    font-size: 10px;
    color: #000;
    background-color: #C7D5D6;
}

#carrousel {
    height: 600px;
}

<!-- class: . ID # -->

#imgpersona {
    height: 50px;
    width: auto;
}

#color {
    background-color: #C7D5D6;
}

.cartelcolor {
    height: 100px;
    padding-left: 3px;
    padding-right: 6px;
}

.principal {
    background-color: #C7D5D6;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: x-large;
    grid-area: h2;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: xx-large;
    grid-area: h1
}


.navbar {
    background-color: #C7D5D6;
    font-size: 10px;
}

#img-design {
    width: 700px;
    height: 400px;
}

#Marcas {
    background-size: 1280px 1000px;
    background-color: #B6C8CA
}

.logos {
    width: 200px;
    height: auto;
    padding: 30px;
}

.logos2 {
    width: 150px;
    height: auto;
    padding: 30px;
}

.gridContainerHijo {
    display: grid;
	grid-template-areas: 
	"h2"
    "img img img img";
	grid-template-rows: 100px 1fr 100px;
	grid-template-columns: 50% 50% 50% 50%;
    background-color: #B6C8CA;
}


.gridContainerPorqnosotros {
    display: grid;
    grid-template-areas: 
    "h1"
    "img h2";
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto;
    background-color: #C7D5D6;
    height: 700px;
}

img {
    grid-area: img;
}

footer {
    background-color: #C7D5D6;
    font-family: 'Lora', serif;
    font-weight: 400;
}

.rrss {
    width: 30px;
}

.wpp {
    width: 30px;
}

